{% extends "base.html" %}
{% block content %}
  <h2>Top Attractions</h2>
  <div class="row">
    {% for attraction in attractions %}
    <div class="col-md-4">
      <div class="card mb-3">
        <img src="{{ url_for('static', filename=attraction.image) }}" class="card-img-top" alt="{{ attraction.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ attraction.emoji }} {{ attraction.name }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
